body {
  background-color: #000;
  color: #fff;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #900;
  padding: 20px;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
